<%= form_for(@customer_group) do |f| %>
  <% if @customer_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_group.errors.count, "error") %> prohibited this customer_group from being saved:</h2>

      <ul>
      <% @customer_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_code %><br />
    <%= f.text_field :group_code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
