<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_code %><br />
    <%= f.text_field :customer_code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cont %><br />
    <%= f.text_field :cont %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :order_avg %><br />
    <%= f.text_field :order_avg %>
  </div>
  <div class="field">
    <%= f.label :buy %><br />
    <%= f.text_field :buy %>
  </div>
  <div class="field">
    <%= f.label :buy_avg %><br />
    <%= f.text_field :buy_avg %>
  </div>
  <div class="field">
    <%= f.label :quanbuy %><br />
    <%= f.text_field :quanbuy %>
  </div>
  <div class="field">
    <%= f.label :quanbuy_avg %><br />
    <%= f.text_field :quanbuy_avg %>
  </div>
  <div class="field">
    <%= f.label :contact %><br />
    <%= f.number_field :contact %>
  </div>
  <div class="field">
    <%= f.label :credit_limit %><br />
    <%= f.text_field :credit_limit %>
  </div>
  <div class="field">
    <%= f.label :late %><br />
    <%= f.number_field :late %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :area_id %><br />
    <%= f.number_field :area_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
