<p id="notice"><%= notice %></p>

<p>
  <b>Customer code:</b>
  <%= @customer.customer_code %>
</p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Cont:</b>
  <%= @customer.cont %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @customer.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Start date:</b>
  <%= @customer.start_date %>
</p>

<p>
  <b>Order:</b>
  <%= @customer.order %>
</p>

<p>
  <b>Order avg:</b>
  <%= @customer.order_avg %>
</p>

<p>
  <b>Buy:</b>
  <%= @customer.buy %>
</p>

<p>
  <b>Buy avg:</b>
  <%= @customer.buy_avg %>
</p>

<p>
  <b>Quanbuy:</b>
  <%= @customer.quanbuy %>
</p>

<p>
  <b>Quanbuy avg:</b>
  <%= @customer.quanbuy_avg %>
</p>

<p>
  <b>Contact:</b>
  <%= @customer.contact %>
</p>

<p>
  <b>Credit limit:</b>
  <%= @customer.credit_limit %>
</p>

<p>
  <b>Late:</b>
  <%= @customer.late %>
</p>

<p>
  <b>Group:</b>
  <%= @customer.group_id %>
</p>

<p>
  <b>Area:</b>
  <%= @customer.area_id %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
