<%= form_for(@customer_area) do |f| %>
  <% if @customer_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_area.errors.count, "error") %> prohibited this customer_area from being saved:</h2>

      <ul>
      <% @customer_area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :area_code %><br />
    <%= f.text_field :area_code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
