<h1>Listing customer_areas</h1>

<table>
  <tr>
    <th>Area code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer_areas.each do |customer_area| %>
  <tr>
    <td><%= customer_area.area_code %></td>
    <td><%= customer_area.name %></td>
    <td><%= link_to 'Show', customer_area %></td>
    <td><%= link_to 'Edit', edit_customer_area_path(customer_area) %></td>
    <td><%= link_to 'Destroy', customer_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer area', new_customer_area_path %>
