<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sale_code %><br />
    <%= f.text_field :sale_code %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :vat_rate %><br />
    <%= f.text_field :vat_rate %>
  </div>
  <div class="field">
    <%= f.label :vat_amount %><br />
    <%= f.text_field :vat_amount %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :time_code %><br />
    <%= f.text_field :time_code %>
  </div>
  <div class="field">
    <%= f.label :user_code %><br />
    <%= f.text_field :user_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
