<!DOCTYPE html>
<html ng-app>
<head>
  <title>StatsInfo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="/">Stats Info</a>
      <ul class="nav">
        <li class=""><%= link_to 'Customers', customers_path %></li>
        <li class=""><%= link_to 'Customer Areas', customer_areas_path %></li>
        <li class=""><%= link_to 'Customer Groups', customer_groups_path %></li>
        <li class=""><%= link_to 'Product Groups', product_groups_path %></li>
        <li class=""><%= link_to 'Product Categories', product_categories_path %></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
